<!--いいね一覧-->
<div class=favorite_background_color>
  <section class="py-5" id="course">

    <div class='container text-center py-3'>
      <div class='row pb-3'>
        <div class="col">
          <h4>いいね一覧</h4>
        </div>
      </div>
      <div class="row g-4">


      <!--いいねした記事-->
      <div class="d-flex col-mx-md-4">
        <!--カード風-->
        <% @favorite_diaries.each do |diary|%>


            <div class="group favorite_border">
              <div class="box">
                <%= diary.title %>
                <p><%= diary.body %></p>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>