<!--いいね一覧-->
<div class=favorite_background_color>
  <%#= render "public/customers/favorite-back" %>
  <section class="py-5" id="course">

    <div class='container text-center py-3'>
      <div class='row pb-3'>
        <div class="col">
          <h1><span class="text" data-text="EDIT ME">EDIT ME</span></h1>
         <!-- <h1 data-heading="favorites">-->
		       <!-- <span contenteditable data-heading="favorites">favorites</span>-->
	        <!--</h1>-->

        </div>
      </div>
      <div class="row g-4">


      <!--いいねした記事-->
      <div class="d-flex col-mx-md-4">
        <!--カード風-->
        <% @favorite_diaries.each do |diary|%>


            <div class="group favorite_border">
              <div class="box">
                <span class="favorite_text_title">
                  <%= link_to diary.title, diary_path(diary), class: "favorite_text_title_link" %>
                </span>
                  <span class="favorite_text_body"><%= link_to diary.body, diary_path(diary),class: "favorite_text_body_link" %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>