<h1>Follow Users</h1>
<h3><%= @customer_name.pen_name %>さんがフォローしているUsers</h3>
<% if @customer.exists? %>
  <%= render 'public/customers/index', customers: @customer %>
<% else %>
 <p>ユーザーはいません</p>
<% end %>