<!--いいね一覧-->
<!--<section class="py-5" id="course">-->
<!--<div class='container text-center py-3'>-->
<!--  <div class='row pb-3'>-->
<!--    <div class="col">-->
<div class='container'>
  <div class='row'>
    <!--<h1>いいね一覧</h1>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<div class="row g-4">-->
    <!--いいね記事-->
    <!--  <div class="col-md-4">-->
    <!--カード風-->
        <div class= "border p-3 shadow rounded-pill">
          <p class="text-muted">
            <% @favorite_diarys.each do |diary|%>
              <%= diary.title %>
            <% end %>
          </p>
        </div>
    </div>
  </div>
<!--</div>-->
<!--</section>-->