<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
      <table>
      <% if @model == 'customer' %>
      	<h3>Cutomers search for "<%= @content %>"</h3>
        <%= render 'public/customers/index', customers: @records %>
      <% elsif @model == 'diary' %>
      	<h3>Diarys search for "<%= @content %>"</h3>
        <%= render 'public/diarys/index', diarys: @records %>
      <% end %>
      </table>
    </div>
  </div>
</div>