<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Diary</h1>
    	<!--<#%= render 'public/layouts/errors', obj: @book %>-->
  		<%= render 'public/diarys/form', diary: @diary %>
  		<%= link_to 'Show', @diary, class: "diary_#{@diary.id}" %> |
  		<%= link_to 'Back', diarys_path, class: "back" %>
  </div>
</div>