<% if @diary.errors.any? %>
      <%= @diary.errors.count %>件のエラーが発生しました
  <ul>
      <% @diary.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= link_to "戻る", customer_path(current_customer.id) %>