.about-background {
  background: url("../images/tuning-about-cliping-main.png") left top / auto 100% no-repeat;
  // padding-bottom: 50px; /* フッターの高さ分のマージンを追加 */
  height: 830px;
  background-size: cover;
  background-position: 0% 0%;
}
