.about-background {
  background: url("../images/tuning-about-cliping-main.png") left top / auto 100% no-repeat;
  padding-bottom: 60px; /* フッターの高さ分のマージンを追加 */
  height: 800px;
  background-size: cover;
}
