input[value="ログアウト"]:hover{
  color: red;
}

input[value="ログアウト"]{
  color: #007BFF;
  background-color: transparent;
  border: none;
}
.chart_area{
  height: 500px !important;
  width: 100% !important;
}