.favorite_background_color {
  background-color: #ffe4e1;
  width: 100%; /* 横幅いっぱい */
  height: 1000px; /* 高さ1400px（多めに設定） */
}
// コメント楕円形の設定各種
.favorite_border {
  margin-top: 100px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  border-radius: 55% 70% 51% 98% / 52% 63% 62% 58%;
}

.favorite_border .box {
  // border-radius: 10px;
  width: 200px;
  height: 200px;
  background-color: #ffe4e1;
  transition: box-shadow 0.5s;
  border-radius: 55% 70% 51% 98% / 52% 63% 62% 58%;
  box-shadow:
    10px 10px 30px rgba(18, 47, 61, 0.5),
    -10px -10px 30px rgba(255, 255, 255, 0.9),
    inset 10px 10px 30px transparent,
    inset -10px -10px 30px transparent;
}

.favorite_border:hover .box {
  box-shadow:
    10px 10px 30px transparent,
    -10px -10px 30px transparent,
    inset 10px 10px 30px rgba(18, 47, 61, 0.5),
    inset -10px -10px 30px rgba(248, 253, 255, 0.9);
}

// お気に入り投稿テキストの位置等の設定各種
.favorite_text_title {
  height: 30px;
  display: grid;
  place-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.favorite_text_body {
  height: 90px;
  display: grid;
  place-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// いいねした投稿のタイトルのリンクエフェクトのscss
a.favorite_text_title_link {
   	color: #666666;
   	text-decoration: none;
   	cursor: pointer;
  background:
      radial-gradient(circle 7px, currentColor 90%, transparent) bottom var(--d, -14px)
      left 50%/12px 14px repeat-x;
  transition: 0.5s;
}
a.favorite_text_title_link:hover {
  --d: -7px;
}
// いいねした投稿内容のリンクエフェクト
a.favorite_text_body_link {
   	color: #666666;
   	text-decoration: none;
   	cursor: pointer;
  background:
      radial-gradient(circle 7px, currentColor 90%, transparent) bottom var(--d, -14px)
      left 50%/12px 14px repeat-x;
  transition: 0.5s;
}
a.favorite_text_body_link:hover {
  --d: -7px;
}

//   タイトルエフェクト２
$red: #fe4560;
$blue: #98b5cc;

html,
body {
  background: #FFF0F5;
  width: 100%;
  height: 100%;
}

$face: #00ff7f;
$flourish: #fff;
$shadowdots: #040351;
$shadow: #4d8bea;
$shadow2: #cbc7e3;

h1 {
  font-family: 'Rig Bold Face', sans-serif;
  text-transform: uppercase;
  font-size: 10vw;
  text-align: center;
  font-weight: normal;
  margin-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: $face;

  &:before,
  &:after,
  span:before,
  span:after {
    content: attr(data-heading);
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    font-weight: normal;
    text-shadow: none;
  }

  &:before {
    color: $flourish;
    font-family: 'Rig Bold Inline', sans-serif;
  }

  &:after {
    font-family: 'Rig Bold Coarse', sans-serif;
    color: $shadowdots;
  }
}

span {
  &::before {
    font-family: 'Rig Bold Shadow', sans-serif;
    color: $shadow2;
    z-index: -1;
  }

  &::after {
    font-family: 'Rig Bold Extrude', sans-serif;
    color: $shadow;
    z-index: -1;
  }

}



@font-face {
  font-family:'Rig Bold Coarse';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldCoarse.otf');
}

@font-face {
  font-family:'Rig Bold Extrude';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldExtrude.otf');
}

@font-face {
  font-family:'Rig Bold Shadow';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldShadow.otf');
}

@font-face {
  font-family:'Rig Bold Face';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldFace.otf');
}

@font-face {
  font-family:'Rig Bold Inline';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Rig-BoldInline.otf');
}




// いいねページの背景svgに関するscss
/*=============== SVGアニメーション内の指定 =================*/

/*SVGの横幅*/
.svganimeblock_favorite{
  max-width:800px;
  width:100%;
}

/*SVGの可変*/
// .svganimeblock_favorite svg{
//   width:100%;
// }

// /*アニメーション前のパスの指定*/
// .svganimeblock_favorite svg path {
//     fill-opacity: 0;/*最初は透過0で見えない状態*/
//     transition: fill-opacity .5s;/*カラーがつく際のアニメーション0.5秒で変化*/
//     fill: none;/*塗りがない状態*/
//     stroke: #000B00;/*線の色*/
//   }

// /*アニメーション後に.doneというクラス名が付与された時のパスの指定*/
// .svganimeblock_favorite svg.done path{
//     fill: #000B00;/*塗りの色*/
//     fill-opacity: 1;/*透過1で見える状態*/
//     stroke: none;/*線の色なし*/
//   }

